{% if confirm_modal %}
    <li>
        <a data-toggle="modal" data-target="#{{ confirm_modal }}" href="#" data-url="{{ url }}" onclick="urlModal(this,'{{ confirm_modal }}');" class="font-bold"><i class="fa {{ icon }}"></i> {{ name }}</a>
        {% if tooltip %}<i class="fa fa-question-circle add-tooltip" data-toggle="tooltip" title="{{ tooltip }}"></i>{% endif %}
    </li>
{% elif object_modal %}
    <li><a href="#" data-toggle="modal" data-target="#{{ object_modal }}-{{ object.id }}"><i class="fa {{ icon }}"></i> {{ name }}</a>{% if tooltip %}<i class="fa fa-question-circle add-tooltip" data-toggle="tooltip" title="{{ tooltip }}"></i>{% endif %}
    {% with "datatables_tools/"|add:object.get_model_name|lower|add:"_modal.html" as template_object %}
        {% include template_object %}
    {% endwith %}</li>
{% else %}
   <li>
       <a href="{{ url }}" class="font-bold"><i class="fa {{ icon }}"></i> {{ name }}</a>
       {% if tooltip %}<i class="fa fa-question-circle add-tooltip" data-toggle="tooltip" title="{{ tooltip }}"></i>{% endif %}
   </li>
{% endif %}